In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
#%matplotlib inline
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
plt.rcParams['figure.figsize'] = [15, 5]
from IPython import display
from ipywidgets import interact, widgets

confirmed_cases = pd.read_csv('data/merged_data_scandinavia.csv')
confirmed_cases.head()

   Country        Date  Total Confirmed Cases  Daily New Cases
0  Denmark  2020-01-22                      0              0.0
1  Denmark  2020-01-23                      0              0.0
2  Denmark  2020-01-24                      0              0.0
3  Denmark  2020-01-25                      0              0.0
4  Denmark  2020-01-26                      0              0.0